<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            background: linear-gradient(to right, #f5c2f2, #b11deb);
            color: white;
        }
        .box {
            margin-top: 150px;
        }
    </style>
</head>
<body>

<div class="box">
    <h1>Welcome to Dashboard 🎉</h1>
    <p>You are logged in successfully!</p>

    <a href="/" style="color:white;">Go Home</a>
</div>

</body>
</html>